*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
       height:100%;
       width:100%;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: dodgerblue;
}
.container{
    height: 35vw;
    width:30vw;
    background-color: #fff;
    border-radius: 1vw;
    position: relative;
}
.storiyan{
    /* background-color: red; */
    border-bottom: 2px solid #dadada;
    height: 9vw;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.storiyan::-webkit-scrollbar{
    display: none;
}
.story{
    /* background-color: blue; */
    border: 2px solid red;
    border-radius: 50%;
    margin:.8vw .2vw;
    height: 7vw;
    width: 7vw;
    overflow: hidden;
    display: inline-block;
}
.story img{
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    object-fit: cover;
}
#full-screen{
    background-color: red;
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    position:absolute;
    object-fit: cover;
    display: none;
    background-size: cover;
    background-position: center;
}
#line{
    position: relative;
    width:100%;
    border-radius: 1vw;
    height: .5vw;
    background-color: rgb(210, 198, 198);
    margin-top: .6vw;
    transition: all 4s linear;
    animation: progressbar 5s linear forwards;
}
@keyframes progressbar {
    100%{
        width:0%;
    }
}
/* #line:hover{
    width:1%;
    background-color: green;
} */
span{
    font-size: 2vw;
    width:2.5vw;
    position: absolute;
    right: 0;
    cursor: pointer;
    color:white;
}
#bottom{
    position: absolute;
    bottom: 0;
    height: 1vw;
    width: 100%;
    background-color: black;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
input{
    border-radius: 10px;
    border: 2px solid white;
    margin:0 0 20px 15px;
    padding:5px;
    font-weight: 900;
    background: transparent;
    color:white;
}
input::placeholder{
    color:white;
}
#hearts{
    font-size: 40px;
    background: transparent;
    /* border: 2px solid black; */
}
